


<nav>
  <a routerLink="/hero"  ariaCurrentWhenActive="page">Hero</a> |
  <a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test</a>
</nav>

<!-- <app-hero></app-hero> -->
<router-outlet></router-outlet>

<!-- <app-tirsdag></app-tirsdag> -->
this is our new page
Is this HTML?
<br>
<!--
 this is an element
<div name="whatever"></div>
This is called Interpolation
this is my text {{text}} <br>
this is my number {{myArray2}}
<p *ngIf="false">This is my if sentence</p>
<p *ngIf="myTrue">This is my if sentence</p>
<div *ngFor="let item of myArray2">

  {{item}} is some text
</div> -->
